.lineHead.heading {
    text-align: center;
    padding: 2rem 0rem;
}
.lineHead.heading h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 0.5rem;
    max-width: 90%;
    color: var(--color-dark-blue);
    transition: var(--transition-4);
}
.lineHead.heading h2::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 40%;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background: var(--color-blu);
    transition: var(--transition-3);
}
.lineHead.heading h2:hover::after {
    width: 75%;
}

