.main-head nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-blu);
    color: white;
    padding: 0.5rem 3rem;
}
.main-head nav a{
    text-decoration: none;
}
.main-head nav .logo img{
    height: 70px;
    /* background: white; */
    filter: invert(100%);
}
.main-head nav h1{
    margin-bottom: 0rem;
    font-size: 1.9rem;
    color: white;
}
.main-head nav h1 span {
    display: block;
    font-size: 1.1rem;
}
.main-head nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0rem;
}
.main-head nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
}
.main-head nav ul li a::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    bottom: 0;
    transition: var(--transition-3);
}
.main-head nav ul li a:hover::before{
    width: 80%;
}


.main-head nav .toogle-menu{
    display: none;
}
@media only screen and (max-width: 700px){
    .main-head nav .toogle-menu{
        display: block;
        font-size: 1.6rem;
    }
    .main-head .nav-links{
        z-index: 10;
        position: absolute;
        top: 5rem;
        left: -150%;
        right: 0;
        background: var(--color-main-light);
        padding: 0.5rem;
        max-width: 100vw;
        transition: var(--transition-3);
    }
    .main-head .nav-links.active{
        left: 0%;
    }
    .main-head nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0rem;
    }
    .main-head nav ul li{
        padding: 1rem 0rem;
    }
}
@media only screen and (max-width: 400px){
    .main-head nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--color-blu);
        color: white;
        padding: 0.5rem 1rem;
    }
}











