*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  /* list-style: none; */
}
body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
#root{
  overflow-x: hidden;
}
:root{
  --color-main: #2E3F97;  
  --color-main-light: #53b6fd;  
  --color-red: #f44336;  
  --color-red-1: #e95144;  
  --color-orange: #ff905a;
  --color-yellow: #ecc91f;
  --color-grey: #a8a9a8;
  --color-light-weight: #e7f1ff;
  --color-grey-text: hsl(0,0%,47%);
  --color-black: #000000;
  --color-black-light: #3a3e45;
  --color-white: #ffffff;

  --color-anchor: #0d6efd;
  --color-blue: #4d8aff;
  --color-dark-blue: #004269;
  --color-blu : #4387c0;
  --color-blue-light : #00AAA9;
  --color-green : rgb(44, 185, 16);

  --bg-white : #f7f9fe;
  --border-color-1 : rgba(101, 119, 134, 0.36);
  --transition-3: all 300ms ease-in;
  --transition-4: all 400ms ease-in;
}



/* --- Universal Styling ---  */
ol, ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}
a{
  color: black;
  text-decoration: none;
}
img{
  width: 100%;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  padding: 5rem 0rem;
}


/* ---- Button1 ---  */
.button1 { 
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 1rem 0rem;
 }
 
 .button1 {
  width: 12rem;
  height: auto;
 }
 
 .button1 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--color-dark-blue);
  border-radius: 1.625rem;
 }
 
 .button1 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 .button1 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .button1 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .button1 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--color-dark-blue);
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .button1:hover .circle {
  width: 100%;
 }
 
 .button1:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .button1:hover .button-text {
  color: #fff;
 }

